<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="18">
        <el-input placeholder="Nom todo" v-model="newTodoName" @keydown.enter="addTodo"/>
      </el-col>
      <el-button @click="addTodo">Ajouter</el-button>
    </el-row>

    <el-row :gutter="20">
      <el-col v-for="todo in todos" :key="todo.id" :span="6" :gutter="20">
        <el-card class="box-card spacing">
          <div slot="header" class="clearfix">
            <span>{{todo.name}}</span>
            <el-button
              class="right"
              size="mini"
              round
              type="danger"
              @click="removeTodo(todo.id)"
            >supprimer</el-button>
          </div>

          <TodoItems :todoId="todo.id" :items="todo.items" :addItem="addItem"/>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import TodoItems from "./TodoItem";
let nextTodoId = 0;
let nextItemId = 0;
export default {
  name: "List",
  components: {
    TodoItems
  },
  data: () => ({
    newTodoName: "",
    item: "",
    todos: [
      {
        id: nextTodoId++,
        name: "hello",
        items: [
          {
            id: nextItemId++,
            content: "test",
            completed: false
          },
          {
            id: nextItemId++,
            content: "test 2",
            completed: false
          },
          {
            id: nextItemId++,
            content: "test 3",
            completed: false
          }
        ],
        updatedAt: new Date(),
        createdAt: new Date()
      }
    ]
  }),
  methods: {
    removeTodo(id) {
      this.todos = this.todos.filter(e => e.id !== id);
    },
    addTodo() {
      this.todos.push({
        id: nextTodoId++,
        name: this.newTodoName,
        items: [],
        updatedAt: new Date(),
        createdAt: new Date()
      });
    },
    addItem(todoId, content) {
      this.todos
        .find(e => e.id === todoId)
        .items.push({
          id: nextItemId++,
          content,
          completed: false
        });
    },
    toogleCompleted(todoId, itemId) {
      this.todos = this.todos
        .find(e => e.id === todoId)
        .items.reduce((accu, item) => [
          ...accu,
          item.id === itemId
            ? { ...item, completed: !item.completed }
            : { ...item }
        ]);
    }
  }
};
</script>

<style scoped>
.right {
  float: right;
}
.el-row {
  margin-bottom: 1em;
}
.spacing {
  margin-bottom: 0.3em;
}
</style>