<template>
  <div>
    <el-row type="flex">
      <el-input placeholder="item" v-model="input"/>
      <el-button @click="addItem(todoId, input)">Ajouter</el-button>
    </el-row>
    <el-row type="flex" v-for="item in items" :key="item.id" class="item-row">
      <span>{{ item.content }}</span>
      <el-checkbox @click="toogleCompleted(todoId, item.id)" :checked="item.completed"/>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "TodoItems",
  props: ["todoId", "items", "addItem", "updateItem", "removeItem"],
  data: () => ({
    input: ""
  })
};
</script>

<style scoped>
.item-row {
  font-size: 1.2em;
  justify-content: space-between;
  margin: 0.5em 0;
}
</style>