<template>
  <div id="app">
    <el-container>
      <Nav/>

      <el-main>
        <h1>Main</h1>
        <List/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Nav from "./components/Nav.vue";
import List from "./components/List";

export default {
  name: "app",
  components: {
    Nav,
    List
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
